Repository stl-print-lab/tmp, changes with the labels that .github/labeler.yml gives for each.
All labels: hehe, hoho

.github/labeler.yml:

hehe:
  - file1
hoho:
  - file2

more change
  file1
Labels: hehe

add fake deploy
  .github/workflows/deploy.yml
Labels: none

change2 (#2)
  .github/workflows/deploy.yml
  file2
Labels: hoho

fix deploy
  .github/workflows/deploy.yml
Labels: none

B2 (#3)
  .github/workflows/deploy.yml
Labels: none

try deploy
  file1
Labels: hehe

try deploy (#4)
  file1
Labels: hehe

deploy main
  .github/workflows/deploy.yml
Labels: none

deploy main (#5)
  .github/workflows/deploy.yml
Labels: none

syntax
  .github/workflows/deploy.yml
Labels: none

syntax (#6)
  .github/workflows/deploy.yml
Labels: none
